body{
  margin-top: 50px;
  text-align: center;
  background-color: #dff0d8;
}

header{
  font-size: 30px;
  margin-bottom: 50px;
}

input {
  text-align: right;
}

.btn-group .button {
    background-color: #4CAF50;
    border: 1px solid green;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    float: left;
    width: 80px;
}
/* Prevent double borders */
.btn-group .button:not(:last-child) {
    border-right: none;
}
.btn-group .extended{
  width: 160px;
}
.btn-group .button:hover {
    background-color: #3e8e41;
}